.messagebox-container {
    background-image:    url(../../../../assets/img/background.jpg);
    background-size:     cover;        
    background-repeat:   no-repeat;
    background-position: center center;
    height: calc(100% - 140px);
    width: 100%;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}