.messagebox-container {
    background-image:    url(../../../../assets/img/background.jpg);
    background-size:     cover;        
    background-repeat:   no-repeat;
    background-position: center center;
    height: calc(100% - 140px);
    width: 100%;
    overflow-y: auto;
    padding-bottom: 20px;
}

#chatbox::-webkit-scrollbar-track
{
	background: transparent;
}

#chatbox::-webkit-scrollbar
{
    transition: all .5s;
    width: 5px;
    height: 1px;
    z-index: 10;
}

#chatbox::-webkit-scrollbar-thumb
{
    background: #b3ada7;
    border-radius: 0.3em;
}