body {
    background-color: #EEEEEE !important;
}

path {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

#map {
    margin-top: 10px;
}

#map svg {
    width: 90vw;
    max-width: 800px;
    height: auto;
}

.state-overview-card {
    position: absolute;
    z-index: 5;
    width: 450px;
    right: 180px;
    top: 600px;
}

@media (max-width:1200px){
    .state-overview-card {
        right: 20px;
    }
}

@media (max-width:992px){
    .state-overview-card {
        position: relative;
        width: 80vw;
        top: 0;
        right: 0;
    }
}