.message-container {
    position: relative;
}

.message-body {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 0.3em;
    color: #EEEEEE;
    margin-top: 3px;
    margin-left: 20px;
    margin-right: 20px;
    clear: both;
    line-height: 18px;
    position: relative;
    overflow-wrap: break-word;
    max-width: 80%;
}

.pending {
    background-color: #E0E0E0 !important;
    color: #616161;
}

.pending.message-client-arrow:after {
    border-left-color: #E0E0E0 !important;
}

.message-server {
    background-color: #03A9F4;
    float: left;
}

.message-server-arrow {
    margin-top: 20px;
}

.message-server-arrow:after {
    content: "";
    position: absolute;
    border-width: 0px 10px 10px 0;
    top: 0;
    left: -20px;
    display: block;
    width: 0;
    z-index: 1;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right-color: #03A9F4;
}

.message-client {
    background-color: #4CAF50;
    float: right;
}

.message-client-arrow {
    margin-top: 20px;
}

.message-client-arrow:after {
    content: "";
    position: absolute;
    border-width: 0px 0 10px 10px;
    top: 0;
    right: -20px;
    display: block;
    width: 0;
    z-index: 1;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left-color: #4CAF50;
}

.spacer {
    height: 15px;
}